* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

svg {
  background-color: black;
  width: 100%;
  height: 100%;
}

#ecran {
  color: black;
}

#controle {
  position: fixed;
  left: 0;
  top: 0;
  height: 25px;
  z-index: 999;
  width: 100%;
  padding: 5px;
  color: black;
}

#score {
  float: right;
  text-align: right;
  margin-right: 10px;
}

#titre {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

#auteur {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 5px;
}

#about {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 5px;
}

/* 
.brique {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
*/