* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;    
}

svg {
    background-color: black;
    width: 100%;
    height: 100%;
}

#ecran {
    color: black;
}

#controle {
    position: fixed;
    left: 0;
    top: 0;
    height: 25px;
    z-index: 999;
    background-color: white;
    width: 100%;
    padding: 5px;
    color: black;
}