* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: black;
  background-image: url("../images/background.jpg");
}

svg {
  background-color: black;
  width: 100%;
  height: 100%;
}

#ecran {
  color: black;
}

#infos {
  position: fixed;
  left: 0;
  top: 0;
  height: 25px;
  z-index: 999;
  width: 100%;
  padding: 5px;
  color: black;
}

#score {
  float: right;
  text-align: right;
  margin-right: 10px;
}

#titre {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#auteur {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 5px;
}

#about {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 5px;
}

#controles {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

#controles label {
  padding: 5px;
}

/*
.brique {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
*/

.raquette {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(180deg) brightness(118%) contrast(119%);
}

.gauche.touche, .droit.touche {
  filter: invert(48%) sepia(80%) saturate(3476%) hue-rotate(324deg) brightness(118%) contrast(119%);
}

circle {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(109deg) brightness(118%) contrast(119%);
}